* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Helvetica Neue", sans-serif;
}

.container {
    background: linear-gradient(#686A6C, #F1A23D);
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

section {
    display: grid;
    height: 480px;
    width: 320px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.item {
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: 0.5px solid black;
}

.item:hover {
    opacity: 0.7;
}

.item:active {
    background-color: white;
    opacity: 0.3;
    color: #4a494f
}

.button-operations-right {
    background-color: #F1A23D;
}

.button-numbers {
    background-color: #75757d;
}

.button-operations {
    background-color: #5a5663;
}

.display {
    background-color: #4a494f;
    opacity: 0.7;
    border: 1.7px solid black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    grid-column: 1/5;
    font-size: 30px;
    color: white;
    padding-left: 15px;
}

.zero {
    grid-column: 1/3;
}